<h1>editar registrodetrabajadore</h1>
<table>
    <tr>
        <td><%= @registrodetrabajadore.nombre %></td>
        <td><%= @registrodetrabajadore.edad %></td>
        <td><%= @registrodetrabajadore.cargo %></td>
        <td><%= @registrodetrabajadore.telefono %></td>
    </tr>
</table>