<h1 class="text-center , fs-1">editar registrodetrabajadore</h1>

<div>
  <%= link_to 'Atras', registrodetrabajadores_path, class: 'btn btn-primary' %>
</div><br>

<section class="row">
  <div class="col-md-6">
      <%= render  "form" %>
  </div>    
</section>