<h2>listado</h2>
<%= link_to 'Back', organizacione_path %>
<table>
    <tr>
        <td><%= @organizacione.tipo_de_organizacion%></td>
        <td><%= @organizacione.numero_de_empleado%></td>
        <td><%= @organizacione.representantes%></td>
    </tr> 
</table>