<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @tipo do |f| %>
      <%= f.input :tipo %>
      <%= f.input :estado %>
      <%= f.button :submit , class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>