<h1 class="text-center , fs-1">Editing tipos</h1>

<%= link_to 'Atras', tipos_path, class: 'btn btn-primary' %>
 
<section class="row">
  <div class="col-md-6">
      <%= render  "form" %>
  </div>    
</section>