<p class="text-center , fs-1">Registro de tipo</p>
<div class="container">
    <div class="navbar-toggler">
        <%= simple_form_for @tipo do |f| %>
            <%= f.input :tipo %>
            <%= f.input :estado %>
            <%= f.button :submit %>
        <% end %>
    </div>
</div>