<section class = "row">
    <aside class = "col-md-4">
      <%= render "layouts/aside" %>
    </aside>
    <article class = "col-md-8">
      <div class="well">
        Bienvenido
      </div>
    </article>
</section>
















