<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="estilo.css">
</head>

    
    <body>
        <section id="contenido1">
            <%= form_for(current_user,
                url: destroy_user_session_path, html: { method: :delete }) do |f| %>
                <%= f.submit "Cerrar sesión" %>
                <%= link_to "Ver todos los productos", productos_index_path %>
            <% end %>
        </section>
    </body>
</html>
















