<h1 class="text-center , fs-1">Editing compras</h1>

<%= link_to 'Atras', compras_path, class: 'btn btn-primary' %>
 
<section class="row">
  <div class="col-md-6">
      <%= render "form" %>
  </div>    
</section>