
  .form_registo{
    width: 300px;
    margin: auto;
    border: solid 3px;
    margin-top: 20%;
    background: #27385d;
    padding: 20px;
    border-radius: 10px;
    color: white;
  }

  .col-md-6 col-lg-4 offset-lg-4 offset-md-3 mt-5{
    background-color: blue;
    background-color: rgba(0,0,0,0.5) !important;
    width: 300px;
    margin: auto;
    border: solid 3px;
    margin-top: 20%;
    background: #27385d;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.text-center mb-0{
    background-color: blueviolet;
    background-color: rgba(0,0,0,0.5) !important;
    width: 300px;
    margin: auto;
    border: solid 3px;
    margin-top: 20%;
    background: #27385d;
    padding: 20px;
    border-radius: 10px;
    color: white;
}