<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>comunicando con usted para notificarle que su correo electrónico se cambiará a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>comunicando con usted para notificarle que su correo electrónico ha sido cambiado a <%= @resource.email %>.</p>
<% end %>
